.AlbumCover {
    text-align: left;
    border: none;
    background: none;
}

.AlbumCoverImg {
    width: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: 2px 3px 3px 4px #ccc;
}

.AlbumCoverTitle {
    font-size: 25px;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 25px;
    margin-top: 5px;
}

.AlbumCoverAuthor {
    font-size: 18px;
    display: block;
    margin-bottom: 0;
}