.Contents {
    flex: 1;
}

.TopWrapper {
    padding: 60px 60px;
    height: 100%;
    display: flex;
}

.MusicLibraryWrapper {
    padding: 10px 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    align-items: flex-start;
}

.EmptyState {
    text-align: center;
    width: 100%;
    padding: 40px;
    font-size: 30px;
}

.MusicLibraryWrapper__Title {
    width: 100%;
    text-align: left;
    font-size: 26px;
    padding: 5px 20px 0 20px;
}

.MusicLibraryWrapper__Title.hidden {
    display: none;
}