.AudioPlayer {
    width: calc(100% - 20px);
    height: 70px;
    border-radius: 5px;
    background: aliceblue;

    position: absolute;
    bottom: 20px;
    left: 10px;

    display: flex;
    align-items: center;
}

.AudioPlayer__MetaData {
    text-align: left;
    margin-left: 20px;
}

.AudioPlayer__MetaData__Title {
    display: block;
    font-size: 16px;
    margin: 0;
}

.AudioPlayer__MetaData__Author {
    display: block;
    font-size: 14px;
    margin: 0;
}

.AudioPlayer__Controls__Playback {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.AudioPlayer__Controls__Playback.IsPaused {
    background: url(../icons/play.svg) no-repeat 9px #000;
    background-size: 38px;
}

.AudioPlayer__Controls__Playback.IsPlaying {
    background: url("../icons/pause.svg") #000;
}