.Header {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #696969;
    position: fixed;
    background: #fff;
}

.HeaderLogoWrapper {
    display: flex;
    align-items: center;
    background: #52559B;
    padding: 0 20px;
    height: 60px;
}

.HeaderLogoImg {
    width: 50px;
    height: 50px;
}

.HeaderLogoLabel {
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 20px;
    color: #ffffff;
}

/* HeaderSearch */
.HeaderSearch {
    margin-left: 20px;
    flex: 1;
}

.HeaderSearch input {
    border: none;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

/* OptionsButton */
.OptionsButton {
    background: none;
    border: none;
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: 10px;
    background: #F3F8FE;
    color: #4D85FF;
    padding: 5px 20px;
    border-radius: 30px;
    font-weight: bold;
    height: 50px;
}

.OptionsButton, .OptionsButton * {
    cursor: pointer;
}

.OptionsButtonImg {
    width: 30px;
    height: 30px;
}

.OptionsButtonLabel {
    margin-left: 5px;
    font-size: 15px;
    margin-bottom: 0;
}