.TrackList {
    margin-top: 10px;
    width: 440px;
    height: 100%;
    background: #52559b9c;
    border-radius: 10px;

    margin-right: -500px;
    margin-left: 60px;
    transition: margin-right 1.5s;

    padding: 15px;

    position: relative;
}

.TrackList.active {
    margin-right: 0;
}

.TrackList__Header {
    display: flex;
}

.TrackList__Header__Artwork {
    height: 180px;
}

.TrackList__Header__MetaData {
    margin-left: 15px;
    text-align: left;
    align-self: center;
}

.TrackList__Header__MetaData__AlbumTitle {
    color: #fff;
    display: block;
    font-size: 26px;
}

.TrackList__Header__MetaData__AlbumAuthor {
    color: #fff;
    display: block;
    font-size: 20px;
}

.TrackList__Header__MetaData__AddToLibrary {
    background: #b6e4a5;
    padding: 5px 15px;
    border: none;
    border-radius: 18px;
}

.TrackList__Header__Artwork img {
    height: 100%;
    border-radius: 3px;
}

.TrackList__Contents {
    padding-top: 20px;
}

.TrackList__Contents__Track {
    color: #fff;
    font-size: 16px;
    text-align: left;
    display: flex;

    border: none;
    background: none;
    width: 100%;

    outline: none;
    cursor: pointer;
}

.TrackList__Contents__Track__Position {
    width: 30px;
}

.TrackList__Contents__Track__Title {
    flex: 1;
}

.TrackList__Contents__Track__Duration {
    margin-left: auto;
    width: 30px;
    text-align: left;
}